### Import Downloaded Dataset

In [2]:
# Import required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
# Import dataset

filepath = "../01_data/taxi_organization_data_RAW.xlsx"

df = pd.read_excel(filepath)
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,location,...,tip_amount,total_amount,weather,traffic,customer_id,driver_id,day_of_week,hour_of_day,trip_purpose,surge_pricing
0,V003,2024-07-05 14:04:12,2024-07-05 14:16:12,4,6.9,40.678362,-73.968892,40.639226,-74.015532,Suburbs,...,2.97,21.12,Rain,Moderate,CUST5612,DR745,Friday,14,Errands,False
1,V001,2024-05-16 15:53:50,2024-05-16 16:29:50,2,2.5,40.865106,-74.054843,40.869557,-73.831664,Uptown,...,2.06,10.14,Snow,Moderate,CUST2120,DR144,Thursday,15,Leisure,True
2,V004,2024-07-30 22:05:17,2024-07-30 23:05:17,4,1.4,40.666185,-73.891848,40.870419,-73.992159,Uptown,...,1.07,5.59,Snow,Moderate,CUST2138,DR625,Tuesday,22,Leisure,False
3,V004,2024-07-25 10:04:34,2024-07-25 10:53:34,1,6.3,40.614159,-73.811814,40.894846,-73.957828,Uptown,...,2.09,16.65,Cloudy,Light,CUST5697,DR753,Thursday,10,Leisure,False
4,V001,2024-07-09 21:10:46,2024-07-09 21:43:46,3,5.7,40.754890,-73.911257,40.751192,-73.869727,Downtown,...,4.74,22.19,Clear,Moderate,CUST1668,DR293,Tuesday,21,Errands,False

### Exploratory Data Analysis

In [4]:
# Check all columns in the dataset
columns = df.columns
print("There are ", len(columns), " columns in the dataset")
print(columns)

There are  22  columns in the dataset
Index(['vendor_id', 'pickup_datetime', 'dropoff_datetime', 'passenger_count',
       'trip_distance', 'pickup_latitude', 'pickup_longitude',
       'dropoff_latitude', 'dropoff_longitude', 'location', 'payment_type',
       'fare_amount', 'tip_amount', 'total_amount', 'weather', 'traffic',
       'customer_id', 'driver_id', 'day_of_week', 'hour_of_day',
       'trip_purpose', 'surge_pricing'],
      dtype='object')

In [5]:
# Check for the Datatypes
datatypes = df.dtypes
datatypes

vendor_id                    object
pickup_datetime      datetime64[ns]
dropoff_datetime     datetime64[ns]
passenger_count               int64
trip_distance               float64
pickup_latitude             float64
pickup_longitude            float64
dropoff_latitude            float64
dropoff_longitude           float64
location                     object
payment_type                 object
fare_amount                 float64
tip_amount                  float64
total_amount                float64
weather                      object
traffic                      object
customer_id                  object
driver_id                    object
day_of_week                  object
hour_of_day                   int64
trip_purpose                 object
surge_pricing                  bool
dtype: object

In [6]:
# Group columns into numeric and categorical
df_numeric = df.select_dtypes(include="number")
df_categorical = df.select_dtypes(include="object")

# Statistical summary of the numeric fields
stats = df_numeric.describe()
stats

,passenger_count,trip_distance,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,fare_amount,tip_amount,total_amount,hour_of_day
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2.438000,5.50260,40.746776,-73.921832,40.753438,-73.919310,16.474710,3.259770,19.734480,11.514000
std,1.117768,2.55162,0.096471,0.132275,0.098213,0.128582,8.425625,1.934614,10.109822,6.763546
min,1.000000,1.00000,40.578191,-74.149784,40.578439,-74.149750,2.210000,0.230000,2.490000,0.000000
25%,1.000000,3.40000,40.667124,-74.036476,40.669554,-74.029475,9.557500,1.720000,11.397500,6.000000
50%,2.000000,5.50000,40.744507,-73.917057,40.753389,-73.912172,15.790000,2.950000,18.985000,11.500000
75%,3.000000,7.70000,40.829995,-73.806263,40.838699,-73.806218,22.480000,4.500000,26.925000,17.000000
max,4.000000,10.00000,40.917337,-73.700632,40.917196,-73.700829,39.460000,11.180000,49.630000,23.000000

In [7]:
# Check for the presence of null values
null_values = df.isna().sum()
null_values

vendor_id            0
pickup_datetime      0
dropoff_datetime     0
passenger_count      0
trip_distance        0
pickup_latitude      0
pickup_longitude     0
dropoff_latitude     0
dropoff_longitude    0
location             0
payment_type         0
fare_amount          0
tip_amount           0
total_amount         0
weather              0
traffic              0
customer_id          0
driver_id            0
day_of_week          0
hour_of_day          0
trip_purpose         0
surge_pricing        0
dtype: int64

In [10]:
df_categorical.columns

Index(['vendor_id', 'location', 'payment_type', 'weather', 'traffic',
       'customer_id', 'driver_id', 'day_of_week', 'trip_purpose'],
      dtype='object')

In [11]:
# Dummy Encoding of the dataset
drop_columns =["customer_id", "driver_id", ]
df_encoded = pd.get_dummies(data=df.drop(columns=drop_columns), drop_first=False, dtype=int)
df_encoded.head()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,fare_amount,tip_amount,...,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,trip_purpose_Airport Transfer,trip_purpose_Business,trip_purpose_Commute,trip_purpose_Errands,trip_purpose_Leisure
0,2024-07-05 14:04:12,2024-07-05 14:16:12,4,6.9,40.678362,-73.968892,40.639226,-74.015532,18.15,2.97,...,0,0,0,0,0,0,0,0,1,0
1,2024-05-16 15:53:50,2024-05-16 16:29:50,2,2.5,40.865106,-74.054843,40.869557,-73.831664,8.08,2.06,...,0,0,1,0,0,0,0,0,0,1
2,2024-07-30 22:05:17,2024-07-30 23:05:17,4,1.4,40.666185,-73.891848,40.870419,-73.992159,4.52,1.07,...,0,0,0,1,0,0,0,0,0,1
3,2024-07-25 10:04:34,2024-07-25 10:53:34,1,6.3,40.614159,-73.811814,40.894846,-73.957828,14.56,2.09,...,0,0,1,0,0,0,0,0,0,1
4,2024-07-09 21:10:46,2024-07-09 21:43:46,3,5.7,40.754890,-73.911257,40.751192,-73.869727,17.45,4.74,...,0,0,0,1,0,0,0,0,1,0

In [20]:


# Check for correlation amongst features

correlation_matrix = df_encoded.corr()
correlation_matrix.head()

,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_latitude,pickup_longitude,dropoff_latitude,dropoff_longitude,fare_amount,tip_amount,...,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,trip_purpose_Airport Transfer,trip_purpose_Business,trip_purpose_Commute,trip_purpose_Errands,trip_purpose_Leisure
pickup_datetime,1.000000,1.000000,-0.003352,-0.002790,-0.009717,-0.022958,0.015871,-0.006007,0.003392,0.003212,...,0.014428,0.048980,-0.052487,-0.017147,0.028048,0.016424,0.038676,-0.002784,-0.014224,-0.036768
dropoff_datetime,1.000000,1.000000,-0.003371,-0.002794,-0.009731,-0.022985,0.015859,-0.006021,0.003394,0.003210,...,0.014425,0.049008,-0.052477,-0.017149,0.028042,0.016411,0.038690,-0.002780,-0.014250,-0.036748
passenger_count,-0.003352,-0.003371,1.000000,0.041822,0.033438,-0.054570,-0.038359,0.010099,0.024847,0.023340,...,-0.023444,0.020810,-0.024315,0.032289,0.029209,0.026362,-0.033890,-0.047992,0.010523,0.042714
trip_distance,-0.002790,-0.002794,0.041822,1.000000,-0.011935,0.033969,0.080703,0.049960,0.911038,0.754313,...,-0.015573,-0.032564,-0.021512,-0.010672,0.033879,0.034394,0.026868,-0.013461,-0.006642,-0.040297
pickup_latitude,-0.009717,-0.009731,0.033438,-0.011935,1.000000,-0.027353,-0.001640,0.070311,-0.004638,0.005455,...,0.023315,-0.024486,-0.040338,0.064120,-0.038228,-0.017976,-0.036761,-0.041428,0.036490,0.056394

In [21]:
# Threshold for correlation analysis
threshold = 0.6

# Mask/Filter for values above the threshold
mask = (abs(correlation_matrix) > threshold)

# Get the feature pairs with correlations above the threshold
correlation_pairs = correlation_matrix[mask].stack().reset_index()

# Filter out self-correlations
correlation_pairs = correlation_pairs[correlation_pairs['level_0'] != correlation_pairs['level_1']]

# Rename the columns for clarity
correlation_pairs.columns = ['Feature_1', 'Feature_2', 'Correlation']

# Sort the pairs by absolute correlation
correlation_pairs = correlation_pairs.sort_values(by='Correlation', ascending=False)

# Display the result
print(correlation_pairs)

            Feature_1          Feature_2  Correlation
1     pickup_datetime   dropoff_datetime     1.000000
2    dropoff_datetime    pickup_datetime     1.000000
16        fare_amount       total_amount     0.994681
22       total_amount        fare_amount     0.994681
13        fare_amount      trip_distance     0.911038
6       trip_distance        fare_amount     0.911038
21       total_amount      trip_distance     0.903614
8       trip_distance       total_amount     0.903614
23       total_amount         tip_amount     0.893726
20         tip_amount       total_amount     0.893726
18         tip_amount        fare_amount     0.842762
15        fare_amount         tip_amount     0.842762
7       trip_distance         tip_amount     0.754313
17         tip_amount      trip_distance     0.754313
37  payment_type_Card  payment_type_Cash    -1.000000
38  payment_type_Cash  payment_type_Card    -1.000000